html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px; /* Space untuk #footer */
}

h2 {
    border-bottom: 1px solid #000;
}

a {
    color: #000;
    text-decoration: none !important;
}

.box-button {
    display: inline-block;
}

.table-nav, .tombol-nav {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.tombol-nav {
    margin-top: 10px;
}

.table-nav {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.jumlah-data, .paging {
    width: 50%;
    height: 50px;
    display: block;
}

.jumlah-data {
    float: left;
    padding-top: 15px;
}

.paging {
    float: right;
    text-align: right;
}

.paging ul.pager, .paging ul.pagination {
    text-align: right;
}

ul.pagination, ul.pager {
    margin-top: 8px;
}

#search {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}